# Core LangChain (matches your working env)
langchain==0.3.8
langchain-cli==0.0.33             
langchain-community==0.3.8               
langchain-core==0.3.21            
langchain-fireworks==0.2.5                
huggingface-hub==0.24.0

pysqlite3-binary==0.5.3

# Embeddings & NLP
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
torch
transformers
chromadb==0.5.20
# Web Interface
streamlit==1.40.1
streamlit-extras==0.3.1

